.formCont {
  width: 400px;
  min-height: 350px;
  background-color: #fff0ea;
  display: flex;
  text-align: center;
  padding-top: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
}

.formInput {
  width: 100%;
}

.formInputCont {
  margin-bottom: 25px;
}

.formHeader {
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  font-family: Cookie;
  color: #4c031f;
}

.inputErrorMessageCont{
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
  height: 18px;
} 

.inputErrorMessage {
  margin: 0;
  font-family: Roboto;
  color: #cf0234;
}

.textField {
    & label.Mui-focused {
      color: #96063d
    }
    & .MuiInput-underline:after {
      borderBottomColor: #e6c1cf
    }
    & .MuiOutlinedInput-root {
      & fieldset {
        borderColor: #e6c1cf
      }
      &:hover fieldset {
        borderColor: #e6c1cf
      }
      &.Mui-focused fieldset {
        borderColor: #96063d
      }
    }
}