.formCont {
  width: 400px;
  min-height: 350px;
  background-color: #fff0ea;
  display: flex;
  text-align: center;
  padding-top: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
}

// .formInput {
//   width: 100%;
// }

.formInputCont {
  margin-bottom: 25px;
}

.inputErrorMessageCont{
  display: flex;
  justify-content: flex-start;
  padding-left: 8px;
  height: 18px;
} 

.inputErrorMessage {
  margin: 0;
  font-family: Roboto;
  color: #cf0234;
}