@font-face {
  src: url("../fonts/Cookie-Regular.ttf") format("truetype");

  font-family: Cookie;
  font-weight: 400;
}

@font-face {
  src: url("../fonts//Pacifico/Pacifico-Regular.ttf") format("truetype");

  font-family: Pacifico;
  font-weight: 400;
}