//COLORS 
:root {
  --white: #FFFFFF;
  --grey: #90A4AE;
  --dustyBrown: #A1887F;
  --lightOrange: #FF8A65;
  --yellowOrange: #FFB74D;
  --yellow: #FFD54F;
  --lightGreen: #AED581;
  --lightBlue: #4DD0E1;
  --purple: #9575CD;
  --pinkPurple: #BA68C8;
  --pink: #F06292;
  --coral: #E57373;

  --milk:  #f0e9e5;
  --brown: #573e32;
  --darkBrown: #2f211b; 
  --lightBrown: #d4bfb5
}
