.cont {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--milk);
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  width: 400px;
}

.titleCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  margin-bottom: 15px;
}

.selectCont {
  margin-bottom: 15px;
  display: flex;
}

.select {
  width: 140px;
  margin-right: 10px;
}

.tagsCont {
  display: flex;
  padding: 5px;
  margin-bottom: 20px;
}

.tagsBtnIcon {
  margin-right: 5px;
}

.taskTags {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}